<div class="login-container">
  <div class="login-card">
    <h2>Crear Cuenta</h2>
    <p style="margin-bottom: 20px;">Únete a la Agenda Aurora</p>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      
      <div class="form-group">
        <label>Nombre completo:</label>
        <input type="text" formControlName="nombre" placeholder="Tu nombre...">
      </div>

      <div class="form-group">
        <label>Email:</label>
        <input type="email" formControlName="email" placeholder="ejemplo@correo.com">
      </div>

      <div class="form-group">
        <label>Contraseña:</label>
        <input type="password" formControlName="password" placeholder="Mínimo 6 caracteres">
      </div>

      <button type="submit" class="btn-primary" [disabled]="registerForm.invalid">
        Registrarse
      </button>

    </form>

    <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión aquí</a></p>
  </div>
</div>
<!-- Modal de éxito -->
 @if (mostrandoModalExito) {
  <div class="modal-overlay">
    <div class="modal-box">
      <h3>¡Registro Completado!</h3>
      <p>Tu cuenta ha sido creada con éxito. Ya puedes iniciar sesión.</p>
      <button (click)="cerrarModalExito()" class="btn-primary">Aceptar</button>
    </div>
  </div>
}

@if (mostrandoModalError) {
  <div class="modal-overlay">
    <div class="modal-box error">
      <h3>Error al registrarse</h3>
      <p>Este correo electrónico ya está registrado en el sistema.</p>
      <button (click)="cerrarModalError()" class="btn-danger">Intentarlo de nuevo</button>
    </div>
  </div>
}