<div class="register-container">
  <div class="login-card">
    <h2>Crear Cuenta</h2>
    <p class="subtitle">Únete a la Agenda Aurora</p>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      
      <div class="form-group">
        <label for="nombre">Nombre completo:</label>
        <input type="text" id="nombre" formControlName="nombre" placeholder="Tu nombre..." required>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" placeholder="ejemplo@correo.com" required>
      </div>

      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" formControlName="password" placeholder="Mínimo 6 caracteres" required>
      </div>

      <button type="submit" class="btn-primary" [disabled]="registerForm.invalid">
        Registrarse
      </button>

    </form>

    <p class="footer-text">¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión aquí</a></p>
  </div>
</div>

@if (mostrandoModalExito) {
  <div class="modal-overlay">
    <div class="modal-box">
      <h3>¡Registro Completado!</h3>
      <p>Tu cuenta ha sido creada con éxito. Ya puedes iniciar sesión.</p>
      <button (click)="cerrarModalExito()" class="btn-primary">Aceptar</button>
    </div>
  </div>
}

@if (mostrandoModalError) {
  <div class="modal-overlay">
    <div class="modal-box">
      <h3>Error al registrarse</h3>
      <p>Este correo electrónico ya está registrado en el sistema.</p>
      <button (click)="cerrarModalError()" class="btn-danger">Intentarlo de nuevo</button>
    </div>
  </div>
}