<div class="login-container">
  <div class="login-card">
    <h2>Agenda Aurora</h2>
    
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      
      <div class="form-group">
        <label>Email:</label>
        <input type="email" formControlName="email" placeholder="ejemplo@correo.com">
      </div>

      <div class="form-group">
        <label>Contraseña:</label>
        <input type="password" formControlName="password" placeholder="Mínimo 6 caracteres">
      </div>

      <button type="submit" class="btn-primary" [disabled]="loginForm.invalid">
        Iniciar Sesión
      </button>

    </form>

    <p>¿No tienes cuenta? <a routerLink="/register">Regístrate aquí</a></p>
  </div>
</div>
@if (mostrandoModalError) {
  <div class="modal-overlay">
    <div class="modal-box error">
      <h3>Acceso Denegado</h3>
      <p>El correo electrónico o la contraseña no son correctos. Por favor, revísalos.</p>
      <button (click)="cerrarModalError()" class="btn-danger">Entendido</button>
    </div>
  </div>
}